$body-background-color: #f3f2ee;   
$body-text-color: #1f2328;

$link-color: #0b5fff;

$sidebar-color: #ece9e2;           
$border-color: #d6d3cc;

$code-background-color: #e9e6df;   
$search-background-color: #f3f2ee;
$search-result-preview-color: #5b616a;
